#root {
  height: 140%;
  gap: 30px;
}

.question {
  height: 80px;
  width: 330px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0%;
  padding-right: 0%;
}

.logo-score {
  cursor: pointer;
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 150px;
}

.logo-quiz {
  cursor: pointer;
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 150px;
}
  
.progress-bar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.progress-bar-text {
  display: flex;
  gap: 230px;
  color: white;
  font-size: 14px;
  font-weight: 100;
}
  
.progress-bar-background{
  height: 12px;
  width: 330px;
  background-color: var(--color-light-purple);
  display: flex;
  border-radius: 7.5px;
}
  
.bar{
  width: 50%;
  background-color: var(--color-dark-purple);
}  

.quiz-button {
  height: 150px;
  width: 150px;
  font-size: 48px;
  margin: 0px;
}

.quiz-buttons {
  height: 150px;
  display: flex;
  gap: 30px;
  margin: 0px;
}

.quiz-buttons-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
  
.rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 135px;
  width: 270px;
  background-color: white;
  color: var(--color-dark-purple);
  border-radius: 20px;
  border-color: white;
  border-style: none;
  filter: drop-shadow(6px 6px 0px var(--color-purple));
  font-size: 48px;
  font-weight: bold;
  gap: 10px;
}

.score-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.small {
  width: 100px;
  height: 60px;
}

.text {
  font-size: 24px;
}

.details {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 62px;
}

.long {
  height: 80px;
  width: 100%;
}

.question-rectangle {
  height: 150px;
  width: 100%;
}

.wrong-answers {
  display: flex;
  flex-direction: column;
  width: 370px;
  gap: 50px;
}

.wrong-answer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: auto;
}