* {
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  
  html, body {
    margin: 0;
    height: 100%;
  }
  
  body {
    background-color: #A5A4FF;
    background-image: url("../../public/background_texture.png");
    background-repeat:repeat; 
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
/* Different */

  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    min-width: 400px;
    max-width: 500px;
    height: 100%;
    background-color: #A5A4FF;
    padding: 5%;
    gap: 10px;
  }

  h1 {
    font-size: 48px;
    color: white;
    filter: drop-shadow(5px 5px 0px #5F57E0);
  }

  .logo {
    margin-top: 5%;
    cursor: pointer;
  }
  
  button {
    margin: 15px;
    background-color: white;
    color: #5F57E0;
    border-radius: 20px;
    border-color: white;
    border-style: none;
    filter: drop-shadow(10px 10px 0px #5F57E0);
    font-weight: bold;
    cursor: pointer;
  }

  .quiz-button {
    height: 160px;
    width: 160px;
    font-size: 48px;
  }
  
  .pink-button {
    color: #F59CED;
  }

  .blue-button {
    color: #58B2FF;
  }

  .orange-button {
    color: #FFAF95;
  }

  .yellow-button {
    color: #FFD371;
  }

  button:active {
    transform: translateY(4px);
    filter: drop-shadow(6px 6px 0px #5F57E0);
  }

  /* */

