.title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.settings {
  min-width: 37rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  align-items: center;
}

.settings-containter {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.settings-section {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 100%;
}

.settings-title {
  width: 100%;
  display: flex;
  align-items:  first baseline;
  justify-content: space-between;
}

.difficulty-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}

.range {
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 100%;
}

.range .field input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.timer {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.settings-rectangle  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 4.5rem;
  background-color: white;
  border-radius: 2rem;
  font-size: 2.4rem;
  filter: drop-shadow(0.6rem 0.6rem 0 var(--color-purple));
  padding: 0.5rem 0 0 0;
}

select {
  display: flex;
  text-align: center;
  width: 10rem;
  height: 5rem;
  filter: drop-shadow(0.6rem 0.6rem 0 var(--color-purple));
  border-radius: 1.5rem;
  font-size: 2.4rem;
  color: var(--color-pink);
  border: none;
}

.round-btn {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 100%;
  padding: 0.5rem 0 0 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0.6rem 0.6rem 0 var(--color-dark-purple));
  font-size: 3.8rem;
}

.round-btn:active {
  transform: translateY(0.3rem);
  filter: drop-shadow(0.3rem 0.3rem 0 var(--color-dark-purple));
  margin: 0;
}

.inactive {
  background-color: var(--color-light-purple);
  color: var(--color-purple);
}

.signal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signal-big {
  font-size: 3rem;
}

.signal-small {
  font-size: 3rem;
}
