#root {
  height: 125%;
}

.logo-settings {
  cursor: pointer;
  margin: 6rem 0 0 1rem;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.settings {
  min-width: 37rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.setting {
  min-width: 37rem;
  display: flex;
  align-items: first baseline;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.difficulty-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.range {
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 100%;
}

.range .field input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.timer {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  justify-content: center;
  width: 100%;
}

.timer-rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.5rem;
  height: 5.5rem;
  background-color: white;
  border-radius: 2rem;
  font-size: 2.4rem;
}

.round-btn {
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0.6rem 0.6rem 0 var(--color-dark-purple));
}

.round-btn:active {
  transform: translateY(0.3rem);
  filter: drop-shadow(0.3rem 0.3rem 0 var(--color-dark-purple));
  margin: 0px;
}

.question-types {
  width: 37rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.gap {
  min-height: 2rem;
  width: 100%;
}

/*.round-btn types serve para quando inativar o tipo de questão, o botão ficar diferente.
O fundo muda de branco para roxo claro, e o sinal da conta deve mudar para a cor roxa.
Pra isso é preciso mudar a imagem.
As imagens roxas estão no public.

.types {
  background-color: var(--color-light-purple);
}
*/