:root {
  --color-light-purple: #CDCDFF;
  --color-medium-light-purple: #A5A4FF;
  --color-purple: #918FFF;
  --color-dark-purple: #5F57E0;
  --color-orange: #FFAF95;
  --color-blue: #58B2FF;
  --color-yellow: #FFD371;
  --color-pink: #F59CED;
  --color-green: #88dd83;
}

html,
body {
  margin: 0;
}

html {
  font-size: 55%;
}

* {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  box-sizing: border-box;
}

body {
  background-color: var(--color-medium-light-purple);
  background-image: url("../public/background_texture.svg");
  background-repeat: repeat;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 70rem;
  background-color: var(--color-medium-light-purple);
  color: white;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 3.5rem;
  color: white;
  filter: drop-shadow(0.4rem 0.4rem 0rem var(--color-purple));
  margin: 0rem;
  height: 5rem;
}

h2 {
  font-size: 2.4rem;
  color: white;
  filter: drop-shadow(0.4rem 0.4rem 0rem var(--color-purple));
  margin: 0rem;
}

h3 {
  font-size: 2rem;
  color: white;
  filter: drop-shadow(0.4rem 0.4rem 0rem var(--color-purple));
  margin: 0rem;
}

img {
  margin: 0;
}

button {
  margin: 0rem;
  background-color: white;
  color: var(--color-dark-purple);
  border-radius: 1.5rem;
  border-color: white;
  border-style: none;
  filter: drop-shadow(1.0rem 1.0rem 0rem var(--color-dark-purple));
  cursor: pointer;
}

button:active {
  transform: translateY(0.4rem);
  filter: drop-shadow(0.6rem 0.6rem 0rem var(--color-dark-purple));
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 400px) {
  .logo {
    display: none !important;
  }
}

.logo {
  cursor: pointer;
  height: 15rem;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.logo-main {
  display: block !important;
}

.pink {
  color: var(--color-pink);
}

.blue {
  color: var(--color-blue);
}

.orange {
  color: var(--color-orange);
}

.yellow {
  color: var(--color-yellow);
}

.purple {
  color: var(--color-medium-light-purple);
}

.green {
  color: var(--color-green);
}

.points {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.button-std {
  font-size: 2rem;
  height: 8rem;
  width: 14rem;
  margin: 0rem;
  display: block;
}

.gap {
  min-height: 5rem;
}