:root {
  --color-light-purple:#CDCDFF;
  --color-medium-light-purple:#A5A4FF;
  --color-purple: #918FFF;
  --color-dark-purple: #5F57E0;
  --color-green: white;
  --color-orange:#FFAF95;
  --color-blue: #58B2FF;
  --color-yellow: #FFD371;
  --color-pink: #F59CED;
  --color-green: #88dd83;
}

html, body {
  margin: 0;
  height: 100%;
}

html {
  font-size: 62.5%;
}

* {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

body {
  background-color: var(--color-medium-light-purple);
  background-image: url("../public/background_texture.svg");
  background-repeat:repeat;
  padding: 0rem;
  margin: 0rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  min-width: 60rem;
  max-width: 70rem;
  min-height: 82rem;
  background-color: var(--color-medium-light-purple);
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin: 0%;
  color: white;
  gap: 6rem;
} 

h1 {
  font-size: 4rem;
  color: white;
  filter: drop-shadow(0.4rem 0.4rem 0rem var(--color-purple));
  margin: 0rem;
  height:5rem;
}

h2 {
  font-size: 2.4rem;
  color: white;
  filter: drop-shadow(0.4rem 0.4rem 0rem var(--color-purple));
  margin: 0rem;
}

img {
  margin: 0;
}

button {
  margin: 0rem;
  background-color: white;
  color: var(--color-dark-purple);
  border-radius: 2rem;
  border-color: white;
  border-style: none;
  filter: drop-shadow(1.0rem 1.0rem 0rem var(--color-dark-purple));
  cursor: pointer;
}

button:active {
  transform: translateY(0.4rem);
  filter: drop-shadow(0.6rem 0.6rem 0rem var(--color-dark-purple));
}

.logo {
 margin: 0;
 cursor: pointer;
 height: 15rem;
}

.pink {
  color: var(--color-pink);
}

.blue {
  color: var(--color-blue);
}

.orange {
  color: var(--color-orange);
}

.yellow {
  color: var(--color-yellow);
}

.purple {
  color: var(--color-medium-light-purple);
}

.green {
  color: var(--color-green);
}

.points {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.button-std {
  font-size: 2rem;
  height: 9rem;
  width: 19rem;
  margin: 0rem;
}

.gap {
  min-height: 4rem;
  width: 100%;
}