:root {
  --color-light-purple:#CDCDFF;
  --color-medium-light-purple:#A5A4FF;
  --color-purple: #918FFF;
  --color-dark-purple: #5F57E0;
  --color-green: white;
  --color-orange:#FFAF95;
  --color-blue: #58B2FF;
  --color-yellow: #FFD371;
  --color-pink: #F59CED;
}

html, body {
  margin: 0;
  height: 100%;
}

html {
  font-size: 62.5%;
}

* {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

body {
  background-color: var(--color-medium-light-purple);
  background-image: url("../public/background_texture.png");
  background-repeat:repeat;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  min-width: 600px;
  max-width: 700px;
  height: 100%;
  background-color: var(--color-medium-light-purple);
  padding-top: 0px;
  margin: 0%;
  color: white;
}

h1 {
  font-size: 40px;
  color: white;
  filter: drop-shadow(4px 4px 0px var(--color-purple));
  margin: 0px;
  height:50px;
}

h2 {
  font-size: 24px;
  color: white;
  filter: drop-shadow(4px 4px 0px var(--color-purple));
  margin: 0px;
}

button {
  margin: 0px;
  background-color: white;
  color: var(--color-dark-purple);
  border-radius: 20px;
  border-color: white;
  border-style: none;
  filter: drop-shadow(10px 10px 0px var(--color-dark-purple));
  font-weight: bold;
  cursor: pointer;
}

button:active {
  transform: translateY(4px);
  filter: drop-shadow(6px 6px 0px var(--color-dark-purple));
}

.pink {
  color: var(--color-pink);
}

.blue {
  color: var(--color-blue);
}

.orange {
  color: var(--color-orange);
}

.yellow {
  color: var(--color-yellow);
}

.purple {
  color: var(--color-medium-light-purple);
}

.points {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 0px;
}

.button-std {
  font-size: 20px;
  height: 70px;
  width: 170px;
  margin: 0px;
}

.gap {
  min-height: 40px;
  width: 100%;
}